/*      Global Styles 
---------------------------*/
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

/*         Main Body        
---------------------------*/
.btn-container {
    text-align: center;
}
button {
    width: 120px;
    height: 50px;
    border-radius: 5%;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 10px;
}
main {
    display: grid;
    width: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(4, 25vh);
    grid-template-rows: repeat(4, 25vh);
}

.java-div {
    border: 1px solid black;
}

